@use "colors" as *;

.asListElement {
  background-color: $main-theme-l1;
  color: $font-color;
  width: 80%;
  max-width: 100vw;
  margin: 10px auto;
  font-size: large;
  transform: scale(1.0);
  transition-duration: 200ms;
  border-radius: 10px;

  &:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.clickableRegion {
  min-width: 20px;
  min-height: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.opener {
  border-radius: 10px;
  background: $main-theme;
}

.clickableRegion > p {
  margin: 2px;
  padding: 0 10px;
}

.link {
  border-radius: 10px;
  background: $main-theme-d1;
  color: $accent-color-l2;

}

.asCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 150px;
  height: 200px;
  padding: 10px;
  background: $main-theme;
  border-radius: 20px;
  color: $font-color;
  text-align: center;
  overflow: hidden;

  &:hover {
    background-image: radial-gradient(circle at center, $accent-color-l1, $accent-color);
    transform: scale(1.05);
    transition-duration: 200ms;
    box-shadow: -2px 2px 8px rgba($main-theme-d3, .5);
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  > * {
    display: flex;
  }
}

.tileContainer {
  display: flex;
  justify-content: center;
}
