@use "colors" as *;
@import "cardComponents/listElement";
@import "cardComponents/cardElement"; // and tile-elements
@import "cardComponents/message";


.button-container {
  display: flex;
  justify-content: flex-end;
}

.clickableRegion {
  min-width: 20px;
  min-height: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.opener {
  border-radius: 10px;
  background: $main-theme;
}

.clickableRegion > p {
  margin: 2px;
  padding: 0 10px;
}

.link {
  border-radius: 10px;
  background: $main-theme-d1;
  color: $accent-color-l2;

}









