
//Scheme 1
$main-color:        #982649;
$main-background:   #EEEEEE;
$accent-color:      #D5A021;
$font-color:        #FFFCF9;
$font-color-dark:   #040F0F;
$main-theme:        #273469;
$second-background: #607B7D;

$main-color-d1:               darken($main-color, 10%);
$main-color-l1:               lighten($main-color, 10%);
$main-color-l2:               lighten($main-color, 20%);
$main-color-l3:               lighten($main-color, 30%);

$main-background-d1:          darken($main-background, 10%);
$main-background-d2:          darken($main-background,  20%);
$main-background-d3:          darken($main-background,  30%);
$main-background-l1:          lighten($main-background, 10%);

$accent-color-d1:             darken($accent-color,  10%);
$accent-color-l1:             lighten($accent-color, 10%);
$accent-color-l2:             lighten($accent-color, 20%);
$accent-color-l3:             lighten($accent-color, 30%);

$main-theme-d1:               darken($main-theme, 5%);
$main-theme-d2:               darken($main-theme, 10%);
$main-theme-d3:               darken($main-theme, 20%);
$main-theme-l1:               lighten($main-theme, 10%);
$main-theme-l2:               lighten($main-theme, 20%);

$second-background-d1:        darken($second-background, 10%);
$second-background-l3:        lighten($second-background, 35%);
$second-background-l4:        lighten($second-background, 50%);




