@use "colors" as *;
@import "generalComponents/inputs";
@import "generalComponents/htmlElements";
@import "generalComponents/button";
@import "global";

.g-accentColor{
  color: $accent-color;
}
.g-padding {
  padding-left: 10px;
}

.g-margin {
  margin: 20px;
}

.icon {

  &-s {
    width: 75px;
    height: auto;
  }

  &:hover {
    transform: rotate(90deg);
    transition-duration: 200ms;
  }
}

.g-hoverScale {
  transition: 200ms;
}

.g-hoverScale:hover {
  scale: 1.1;
  transition: 200ms;
}

.g-container {
  display: flex;
  justify-content: center;
  align-items: center;
  &-colored {
    min-width: 50px;
    min-height: 50px;
    max-width: fit-content;
    background: $main-color;
    border: 1px solid $main-color;
    border-radius: 15px;
    &:hover {
      background: $accent-color;
    }
  }
}


.g-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.g-center{
  width: 60%;
  margin: auto;
}

.checkbox-container{

  grid-template-columns: auto;
  border:  1px solid $second-background ;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;


}

