
.container {
  width: 80%;
  max-width: 600px; /* Optional: Setze ein maximales Breitenlimit */
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
  border: solid 2px #982649;
  border-radius: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.button-container a {
  margin: 10px;
}

.btn {
  width: 200px;
  background-color: #190637;
  color: white;
  text-align: center;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2A0B47;
  color: white;
}

.card {
  color: white;
  background-color: transparent;
  border: solid 5px #982649;
  border-radius: 20px;

}

.card-body {
  padding: 40px;
}



