<div class="form-container">
  <h2 class="text-uppercase text-center mb-3" style="text-align: center;">WELCOME TO YOUR BUDGETBOOK </h2>

  <p><br>Hier hast du die volle Kontrolle über deine finanzielle Situation. Egal, ob du ein Budget erstellen, Ausgaben
    verfolgen oder Sparziele setzen möchtest, wir sind hier, um dich zu unterstützen.<br>
    <br>Mit unserer intuitiven Benutzeroberfläche kannst du mühelos deine Einnahmen und Ausgaben verwalten. Trage deine
    Einnahmen ein, sei es dein Gehalt, Nebeneinkünfte oder andere Einnahmequellen. Erfasse anschließend deine Ausgaben
    in
    verschiedenen Kategorien wie Lebensmittel, Miete, Transport und Unterhaltung.<br>
    <br>Aber es geht nicht nur darum, die Kontrolle über deine täglichen Ausgaben zu haben. Unser Budgetbook ermöglicht
    es
    dir auch, Sparziele zu setzen und deine Fortschritte zu verfolgen. Möchtest du für einen Urlaub sparen, ein neues
    Auto
    kaufen oder eine finanzielle Reserve aufbauen? Gib einfach dein Ziel ein, um deine Sparfortschritte in Echtzeit zu
    verfolgen.<br>
    <br>Mach dich bereit, deine Einnahmen zu optimieren, Ausgaben im Griff zu haben und deine Sparziele zu erreichen.
    Starte noch heute und erlebe die Freiheit und Sicherheit, die eine solide finanzielle Grundlage bietet.<br>
  </p>


    <a routerLink="/registration">
      <button type="button" class="buttonClass_w">REGISTER NOW</button>
    </a>
    <a routerLink="/login">
      <button type="button" class="buttonClass_w">LOGIN HERE</button>
    </a>


</div>


