@use "../../styles/colors" as *;

.welcome-text {
  //display: flex;
  justify-content: center;
  align-items: center;
  color: $font-color;
  min-width: 50px;
  min-height: 50px;
  max-width: 50%;
  margin: auto;
  background: $second-background;
  border: 5px solid $main-color;
  border-radius: 15px;
  box-shadow: -2px 2px 16px rgba($main-theme-d3, .5);

  & > p {
    margin: 10px;
  }
}
