
@use "../../../styles/colors" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color: transparent;
}

h3{
  color: $accent-color;

}

.plus {

  background-image: radial-gradient(circle at center, $main-color-lighter, $main-color);
  position: relative;
}
img {
  height: 100px;
  width: 100px;
}
