
<div class="mask d-flex align-items-start h-100 gradient-custom-3">
  <div class="container fluid">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-3">WELCOME TO YOUR BUDGETBOOK </h2>
            <h1 style="text-align: center;"> シ </h1>

            <br>Hier hast du die volle Kontrolle über deine finanzielle Situation. Egal, ob du ein Budget erstellen, Ausgaben verfolgen oder Sparziele setzen möchtest, wir sind hier, um dich zu unterstützen.<br>
            <br>Mit unserer intuitiven Benutzeroberfläche kannst du mühelos deine Einnahmen und Ausgaben verwalten. Trage deine Einnahmen ein, sei es dein Gehalt, Nebeneinkünfte oder andere Einnahmequellen. Erfasse anschließend deine Ausgaben in verschiedenen Kategorien wie Lebensmittel, Miete, Transport und Unterhaltung.<br>
            <br>Aber es geht nicht nur darum, die Kontrolle über deine täglichen Ausgaben zu haben. Unser Budgetbook ermöglicht es dir auch, Sparziele zu setzen und deine Fortschritte zu verfolgen. Möchtest du für einen Urlaub sparen, ein neues Auto kaufen oder eine finanzielle Reserve aufbauen? Gib einfach dein Ziel ein, um deine Sparfortschritte in Echtzeit zu verfolgen.<br>
            <br>Mach dich bereit, deine Einnahmen zu optimieren, Ausgaben im Griff zu haben und deine Sparziele zu erreichen. Starte noch heute und erlebe die Freiheit und Sicherheit, die eine solide finanzielle Grundlage bietet.<br>

            <div class="button-container">
              <a routerLink="/registration"> <button type="button" class="btn">NOW REGISTER</button> </a>
              <a routerLink="/login"> <button type="button" class="btn">HERE LOGIN</button> </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
