* {
  font-family: 'Roboto', sans-serif;


}

body {

  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;


}

.buttonClass {
  font-size: 15px;
  width: 150px;
  height: 51px;
  border-width: 0;
  color: #394F49;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  padding: 1px;
  background: #B7D5D4;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  transform: scale(1);
  transition-duration: 500ms;
}

.buttonClass:hover {
  background: #982649;
  color: #B7D5D4;
  transform: scale(1.1);
  transition-duration: 500ms;
}

.buttonClass:active {
  transform: scale(1.0);
  transition-duration: 200ms;
  width: 150px;
  font-size: 0;
  background: #982649;
}


.container {
  background: linear-gradient(to top, #A33959 30%, #190637 70%, #190637 100%);
  position: sticky;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;


}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
