
<div class="container">
  <div class="nav">


    <div *ngIf="sessionService.isLoggedIn()">
      <a routerLink="/budgetBook" class="buttonClass">BUDGETBOOK</a>
    </div>
    <div *ngIf="!sessionService.isLoggedIn()">
      <a routerLink="/registration" class="buttonClass">REGISTRATION</a>
    </div>
    <div *ngIf="!sessionService.isLoggedIn()">
      <a routerLink="/login" class="buttonClass">LOG IN</a>
    </div>
    <div *ngIf="sessionService.isLoggedIn()">
      <button class="buttonClass" (click)="logout()">LOGOUT</button>
    </div>
  </div>
  <br> <br>
  <div>


    <router-outlet></router-outlet>

  </div>
</div>


