<div class="form-container">

  <h2>NEUEN ACCOUNT ANLEGEN</h2>

  <p>Bereits registriert? <a routerLink="/login"><u>Login</u></a></p>

  <form (submit)="save()">
    <div class="input-group">
      <span class="input-group-text">유</span>
      <input type="text" id="username" name="username" class="form-control" placeholder="username"
             [(ngModel)]="newUser.username"/>
    </div>
    <div class="error-message" *ngIf="newUser.usernameError">{{ newUser.usernameError }}</div>


    <div class="input-group">
      <span class="input-group-text">@</span>
      <input type="email" id="email" name="email" class="form-control" placeholder="email address"
             [(ngModel)]="newUser.email"/>
    </div>
    <div class="error-message" *ngIf="newUser.emailError">{{ newUser.emailError }}</div>


    <div class="input-group">
      <span class="input-group-text">┈</span>
      <input type="password" id="password" name="password1" class="form-control" placeholder="password"
             [(ngModel)]="newUser.password1"/>
    </div>
    <div class="error-message" *ngIf="newUser.password1Error">{{ newUser.password1Error }}</div>


    <div class="input-group">
      <span class="input-group-text" id="addon-wrapping4">┈</span>
      <input type="password" id="form3Example4cdg" name="password2" class="form-control"
             placeholder="repeat your password" [(ngModel)]="newUser.password2"/>
    </div>


    <div class="checkbox-container">
      <label class="form-check-label" for="newsletter"> Ich möchte regelmäßig über Updates informiert werden.
      <input class="" type="checkbox" value="" id="newsletter"/>
      </label>
    </div>

    <div class="checkbox-container">
      <label  for="termsOfAgreement">
       Ich stimme den <a  href="#" target="_blank" class="text-body"><u>Benutzungsbedingungen zu</u></a>
      <input  type="checkbox" value="" id="termsOfAgreement"/>
      </label>
    </div>

    <button type="submit"
            class="buttonClass_w">REGISTER
    </button>


  </form>

</div>






