
<div class="container1">
  <div>
    <div class="header">
     <h3>BUDGETBOOK</h3>
      <h2 [style.color]="getSum() < 0 ? 'red' : 'green'">
        {{ getSum() | number:'1.0-0' }}€
      </h2>
    </div>
  </div>

  <div class="lowercontainer">

   <!-- Income Side -->
    <div class="container2">
      <div>Einkommen</div>
      <div *ngFor="let entryList of debitEntriesByCategory | keyvalue">
        <app-cashflow-card [entryList]="entryList"></app-cashflow-card>
      </div>
      <div *ngIf="showNewDebit">
        <app-cashflow-detail [debit] = true />
      </div>
      <app-button [btnName]="'add'"
                  (click)="showNewDebit= true"
      />
    </div>
    <!-- Cost Side   -->
    <div class="container2">
      <div> Ausgaben</div>
      <div *ngFor="let entryList of nonDebitEntriesByCategory | keyvalue">
        <app-cashflow-card [entryList]="entryList"/>
      </div>
<!--      Insurance     -->
      <app-card-template [name]="'Versicherungen'" routerLink="/insurances" />
      <app-card-template [name]="'Rente'" routerLink="/versicherung" />
      <app-card-template [name]="'Kredite'" routerLink="/versicherung" />

<!--      ADD FUNCTION    -->
      <div *ngIf="showNewCredit">
        <app-cashflow-detail
          [debit] = false
          [isEditing] =  true
        />
      </div>

      <app-button [btnName]="'add'"
                  (click)="showNewCredit= true"
      />
    </div>
  </div>
</div>
