.component-container {
  background-color: transparent;
  padding: 10px;
  width: 80%;
  min-width: 200px;
  min-height: 50px;
  margin: 20px;
  display: flex;
  color: white;
  border-radius: 15px;
}
.component-container:hover {
  background-color: #160632;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.component-container > div:first-child {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.component-container > div:first-child td {
  margin-right: 10px;
}
