<div class="container">
  <div>
    <div class="header">
      <div>Haushaltsbuch </div>
      <!-- {{ sum }} --> € Dummy für sum </div>

  </div>

  <div class="lowercontainer">
      <div class="income">
        <div>Einkommen</div>
        <!-- {{ income.sum }} --> € Dummy für income.sum
      <ul>
   <!--     <li *ngFor="let item of income.items"> <app-listTag/> </li> -->
      </ul>
        <!-- Achtung! app-btn zu app-button geändert! -->
      <app-button></app-button>
      </div>
      <div class="costs">
        <div> Ausgaben </div>
        <!-- {{ costs.sum }} -->€ Dummy für costs.sum
      <ul>
    <!--    <li *ngFor="let item of costs.items"> -->Hier werden die costs aufgelistet. <!--<app-listTag/> </li> -->
      </ul>
        <!-- Achtung! app-btn zu app-button geändert! -->
      <app-button></app-button>
      </div>
  </div>
</div>
