<div class="container">
  <div>
    <div class="header">
      <div>Haushaltsbuch </div>
      <!-- {{ sum }} --> € Platzhalter für sum </div>

  </div>

  <div class="lowercontainer">
      <div class="income">
        <div>Einkommen</div>
        <!-- {{ income.sum }} --> € Platzhalter für income.sum
      <ul>
   <!--     <li *ngFor="let item of income.items"> <app-listTag/> </li> -->
      </ul>
      <app-btn></app-btn>
      </div>
      <div class="costs">
        <div> Ausgaben </div>
        <!-- {{ spendings.sum }} -->€ Platzhalter für spendings.sum
      <ul>
    <!--    <li *ngFor="let item of spendings.items"> -->Hier werden die spendings aufgelistet. <!--<app-listTag/> </li> -->
      </ul>
      <app-btn></app-btn>
      </div>
  </div>
</div>
