.card {
  color: white;
  background-color: transparent;
  border: solid 5px #982649;
  border-radius: 20px;
}

.container {
  font-size: 20px;
  text-align: center;
}

.input-group {
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.btn {
  width: 300px;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: #190637;
  color: white;
}

.btn:hover {
  background-color: #2A0B47;
  color: white;
}
