.container {
  font-size: 20px;
  text-align: center;
}

.input-group {
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.btn {
  width: 300px;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: #982649;
  color: white;
}

.btn:hover {
  background-color: #aa3d59;
  color: white;
}
