
<div class="mask d-flex align-items-start h-100 gradient-custom-3">
  <div class="container fluid">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-3">You have been successfully registered. Please click on this button to log in:</h2>

            <div class="button-container">
              <a routerLink="/login"> <button type="button" class="btn">CONTINUE</button> </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
