<div class="asListElement">
  <div>
    <div class="clickableRegion opener" (click)="toggleEntryList()"><p> {{ entryList?.key }} </p>
      <p> {{ sum.toLocaleString('de-DE')}} € </p></div>
    <!--      LIST OF COST    -->
    <div *ngIf="showEntryList">
      <div *ngFor="let entry of entryList?.value">
        <app-cashflow-detail [entry]="entry"/>
      </div>




      <!--    NEW ENTRY   -->
      <div *ngIf="showNewCard">
        <app-cashflow-detail [category]="entryList?.key ?? 'noCat'"
                             [debit]=debitValue
                             [isEditing]=true />

      </div>


<!--      BUTTON    -->
      <app-button
        [category]="entryList?.key ?? 'noCat'"
        [debit]=debitValue
        [btnName]="'add'"
        (click)="showNewCard = true"/>


    </div>
  </div>
</div>
