<div class="component-container">
  <div>
    <div (click)="toggleEntryList()"> {{ entryList?.key }}</div>


    <div *ngIf="showEntryList">
      <div *ngFor="let entry of entryList?.value">
        <app-cashflow-detail [entry]="entry"></app-cashflow-detail>
      </div>

      <div *ngIf="showDiv">
        <app-cashflow-detail></app-cashflow-detail>
      </div>
      <app-button
        [category]="entryList?.key ?? 'noCat'"
        [debit] = debitValue
        [btnName]="'add'"
        (click)="showDiv = true">
        >
      </app-button>
    </div>
  </div>
</div>
