
<div class="component-container">
  <div>
    <div class="clickableRegion" (click)="toggleEntryList()"> <p> {{ entryList?.key }} </p><p> {{ sum | number:'1.0-0'}} € </p>  </div>

    <div *ngIf="showEntryList">
      <div *ngFor="let entry of entryList?.value">
        <app-cashflow-detail [entry]="entry"></app-cashflow-detail>
      </div>

      <div *ngIf="showNewCard">
        <app-cashflow-detail [category]="entryList?.key ?? 'noCat'"
                             [debit]=debitValue
                             [isEditing] = true>
        </app-cashflow-detail>
      </div>
      <app-button
        [category]="entryList?.key ?? 'noCat'"
        [debit]=debitValue
        [btnName]="'add'"
        (click)="showNewCard = true">
        >
      </app-button>

    </div>
  </div>
</div>
