
<div class="component-container" (mouseenter)="showButtonContainer = true" (mouseleave)="showButtonContainer= false">
  <div>
    <table >
      <tr (click)="isEditing = !isEditing" *ngIf="!isEditing">
        <td>{{ entry.name }}</td>
        <td>{{ entry.amount }} €</td>

      </tr>

<!-- Editing Mode      -->
      <tr *ngIf="isEditing">
        <td>
          <label >Name:</label>
          <input type="text" [(ngModel)]="entry.name">
        </td>
        <td>
          <label>Amount:</label>
          <input type="text" [(ngModel)]="entry.amount">
        </td>
        <td>
          <label>Category:</label>
          <input type="text" [(ngModel)]="entry.category" [placeholder]="entry.category">

        </td>


      </tr>
    </table>
  </div>
  <div class="button-container" *ngIf="showButtonContainer">


    <app-button
                [id]="entry.id"
                [entry] = entry
                [category]="category ?? entry.category"
                [debit]="debit ?? entry.debit"
                [btnName]=" isEditing ? 'save' : 'edit'"
                (click)="isEditing = !isEditing"

                                                >

    </app-button>

    <app-button  [id]="entry.id"
                 [btnName]=" isEditing ? 'cancel' : 'delete'"

    ></app-button>
  </div>
</div>

<div class="A">
  <div class="B"></div>
</div>
